/* Create two equal columns that floats next to each other */
.column {
    float: left;
    padding: 0;
    width: 100%;
}
.imagebox {
    width: 40%;
    max-width: 406px;
    float: left;
    display: flex;
}
.textbox {
    height: auto;
    width: 60%;
    float: right;
}

// for components-------------------------
.sign_container {
    margin-left: 20px;
    margin-top: 30%;
}
.complete_registration_container {
    margin-left: 20px;
    margin-top: 10%;
}
.eye {
    float: right;
    color: gray;
    height: 4px;
    cursor: pointer;
}
.div_h2 {
    padding-bottom: 50px;
}
.signin_btn {
    margin-top: 20px;
    margin-right: 20px;
}
.forget {
    float: right;
    font-size: 10px;
}
label {
    height: 15px;
    font-size: 12px;
    font-weight: bold;
    color: gray;
}
.form-group {
    width: 100%;
    max-width: 389px;
}
.note_signin {
    margin-top: 15%;
    font-size: 12px;
    font-weight: normal;
    color: gray;
}
.note_signin a {
    display: inline;
    font-size: 12px;
    font-weight: normal;
}
.onboarding_link {
    color: gray;
    font-weight: bold;
    cursor: pointer;
    outline: none; //remove the blue glow that surrounds a selected span: unselectable
}
.message_body {
    font-size: 10px;
    width: 60%;
}
.message_body_gray {
    font-size: 10px;
    width: 60%;
    color: gray;
    margin-top: 27px;
}

//for the email adress link
.mailto {
    display: inline;
    font-size: 10px;
}

// about radio
.continue_active{
background-color: gray;
color: white;
}
.continue_not_active{
    background-color: gray;
color: white;
}
