


.example-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 400px;
  }
  
  .table-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  // the filter input field
  .mat-form-field {
    font-size: 12px;
    width: 50%;
  }
  
  .mat-table {
    overflow: auto;
    height: 900px;
    background-color: burlywood;

    color: white;
    td {
        height: 50px;
        width: 200px;;
        font-size: 14px;
    }
    th{
        color: black;
        height: 50px;
        width: 200px;;
    }
  }






